:root,
html.dark {
  --color-primary: #2C3639;
  --color-secondary: #ABC270;
  --color-accent: #D2AF30;
  --color-content: #DEDEDE;
}

:root,
html.light {
  --color-primary: #DCD7C9;
  --color-secondary: #678202;
  --color-accent: #917B02;
  --color-content: #030303;
}

html,
body,
#app {
  font-size: 17px;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: var(--color-primary);
  background: color-mix(in oklab, var(--color-primary), #000 9%);
  color: color-mix(in oklab, var(--color-accent), var(--color-content) 70%);
}

html.dark {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-head
}
