:root,
html.dark {
  --color-primary: 36.49% 0.022 61.36;
  --color-secondary: 77.79% 0.11 121.81;
  --color-accent: 76.41% 0.142 92.54;
}

:root,
html.light {
  --color-primary: 87.93% 0.02 90.56;
  --color-secondary: 41.14% 0.019 201.43;
  --color-accent: 58.53% 0.12 96.35;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  color: #000;
}

html.dark {
  color-scheme: dark;
  background: #222;
  background: color-mix(in oklab, oklch(var(--color-primary)), #111111 9%);
  color: #fff;
  color: color-mix(in oklab, oklch(var(--color-accent)), #fff 80%);
}

html.light {
  color-scheme: light;
  background: #222;
  background: color-mix(in oklab, oklch(var(--color-primary)), #eee 9%);
  color: #fff;
  color: color-mix(in oklab, oklch(var(--color-accent)), #000 60%);
}

a {
  cursor: pointer;
}
